* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}
body{
	margin: 0 15px;
}

h2{
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

h1{
	text-align: center;
	margin: 30px 0;
}

.boxes{
	width: 100%;
}
.box{
	border: 1px solid black;
	background-color: hsl(0, 0%, 60%);
	margin: 0 0.5% 15px 0.5%;
}
.descript{
	padding: 10px;
}

.pink, .red, .yelw{
	margin-left: auto;
	text-align: center;
	width: 150px;
}
.pink{
	background-color: #D59898FF;	
}
.red{
	background-color: #BD4341FF;
	color:white;
}
.yelw{
	background-color: #D9C690FF;
}

@media (min-width: 992px){
	.col-md-4{
		width: 32.3%;
		float: left;
	}
}

@media (min-width: 768px) and (max-width: 991px){
	.box{
		margin: 0 1% 15px 1%;
	}
	.col-sm-12{
		width: 98%;
		float: left;
	}
	.col-sm-6{
		width: 48%;
		float: left;
	}
}

@media (max-width: 767px){
	.col-xs-12{
		width: 96%;
		float: left;
		margin: 0 2% 15px 2%;
	}
}